<div class="container" id="hp-pre">
    <div class="homepage-logo-block">
        <div class="homepage-logo"></div>
        <div class="homepage-strapline"><h2>Linking, developing and supporting English Language Teaching professionals worldwide</h2></div>
    </div>
    <div class="field field-name-field-homepage-feature-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img typeof="foaf:Image" class="img-responsive" src="https://www.iatefl.org/sites/default/files/styles/homepage_feature/public/iStock-483321645%20at%202000_0.jpg?itok=MXXesHh3&amp;sc=1a526f5a02623a8a58abcdd1c0c37b66" alt="" /></div></div></div>  </div>